.faq-categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  @include media-tablet {
    grid-template-columns: repeat(auto-fit, minmax(162px, 1fr));
  }

  @include media-desktop {
    grid-template-columns: 260px;
  }
}

.faq-categories__item {
  display: grid;
}

.faq-categories__radio {
  appearance: none;

  &:focus {
    outline: none;
  }
}

.faq-categories__radio ~ .faq-categories__name {
  display: block;
  padding: 14px 23px 16px;
  box-shadow: inset 0 0 0 2px rgba($base-pearl, 0.2);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;

  @include media-tablet {
    padding: 17px 23px 18px;
    font-size: 18px;
  }

  @include media-desktop {
    padding: 20px 23px 16px;
  }
}

.faq-categories__radio:checked ~ .faq-categories__name {
  background-image: linear-gradient(151deg, $alt-red 0%, $alt-blue 100%);
  box-shadow: inset 0 0 0 2px transparent;
  color: $base-white;
}

.faq-categories__radio:focus ~ .faq-categories__name,
.faq-categories__radio:hover ~ .faq-categories__name {
  background-image: $base-white;
  box-shadow: inset 0 0 0 2px $base-pearl;
  color: $base-pearl;
}

.faq-categories__radio:active ~ .faq-categories__name {
  background-image: linear-gradient(151deg, $alt-red 0%, $alt-blue 100%);
  box-shadow: inset 0 0 0 2px transparent;
  color: $base-white;
}

.faq-categories__radio:disabled ~ .faq-categories__name {
  background-image: none;
  color: $base-pearl;
  box-shadow: inset 0 0 0 2px $base-pearl;
  opacity: 0.3;
}
