.faq {
  padding: 70px 0;
  background-color: $base-light;

  @include media-tablet {
    padding: 61px 0 60px;
  }

  @include media-desktop {
    padding: 100px 0;
  }
}

.faq__container {
  display: grid;
  row-gap: 35px;

  @include media-tablet {
    row-gap: 45px;
  }

  @include media-desktop {
    grid-template-columns: auto 1fr;
    gap: 49px 40px;
    align-items: flex-start;
  }
}

.faq__title {
  margin: 0;
  text-align: center;

  @include media-desktop {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    text-align: start;
  }
}

.faq__categories {
  @include reset-list;
}

.faq__list {
  @include reset-list;
}
