.hero {
  padding-bottom: 32px;
  color: var(--txt-base-light);
  background-color: var(--bg-alt-dark);
  background-image: linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);

  @include media-tablet {
    padding-bottom: 100px;
  }

  @include media-desktop {
    padding-bottom: 120px;
  }
}

.hero__container {
  @include media-tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }

  @include media-desktop {
    column-gap: 56px;
  }
}

.hero__header {
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 16px 0;
  margin-bottom: 48px;

  @include media-tablet {
    padding: 30px 0;
    margin: 0;
  }

  @include media-desktop {
    margin-bottom: 30px;
  }
}

.hero__header-logo {
  display: block;
}

.hero__header-tel {
  @include reset-link;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
}

.hero__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px 20px;

  @include media-tablet {
    grid-template-columns: 113px 185px;
    grid-column: 1 / span 1;
    gap: 50px 26px;
    align-content: center;
    justify-self: flex-end;
  }

  @include media-desktop {
    grid-template-columns: 115px 270px;
    gap: 40px 0;
  }
}

.hero__text {
  align-self: flex-end;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: right;

  @include media-tablet {
    grid-row: 1 / span 2;
    align-self: center;
    line-height: 157%;
  }
}

.hero__title-wrapper {
  text-align: right;
}

.hero__subtitle {
  margin-bottom: 14px;
}

.hero__title {
  margin: 0;
}

.hero__link {
  @include reset-link;
  grid-column: 1 / -1;
  grid-row: -1 / span -1;
  display: block;
  padding: 22px;
  border: 2px solid var(--btn-light);
  text-align: center;

  @include media-tablet {
    grid-column: 2 / -1;
  }
}

.hero__img-wrapper {
  display: none;

  @include media-tablet {
    display: block;
    grid-column: 2 / span 1;
    justify-self: flex-start;
  }
}

.hero__img {
  display: block;
}
