.juri-swiper {
  @include media-tablet {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    width: 718px;
  }

  @include media-desktop {
    grid-template-columns: auto 1fr auto;
    width: 1272px;
  }
}

.juri-swiper__container {
  width: 227px;
  height: 280px;

  @include media-tablet {
    width: 560px;
    height: 300px;
  }

  @include media-desktop {
    width: 1160px;
  }
}

.juri-swiper__button {
  display: none;

  @include media-tablet {
    display: grid;
    place-content: center;
    width: 56px;
    height: 56px;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    &::after {
      display: block;
      width: 19px;
      height: 34px;
      mask-image: url("/__spritemap#sprite-arrow-view");
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
      background-color: $base-pearl;
      content: "";
    }

    &--prev {
      order: -1;
      transform: rotate(180deg);
    }

    &--next {
      order: 1;
    }

    &:hover {
      outline: 1px solid $base-pearl;
    }

    &:focus {
      background-color: $alt-light;
      outline: 1px solid $base-pearl;
    }

    &:active {
      background-color: $base-pearl;
      outline: 1px solid $base-pearl;

      &::after {
        background-color: $base-white;
      }
    }

    &:disabled {
      outline: none;
      background-color: transparent;
      cursor: default;

      &::after {
        background-color: rgba($base-pearl, 0.3);
      }
    }
  }

  @include media-desktop {
    &--prev {
      margin-left: -20px;
    }

    &--next {
      margin-right: -20px;
    }
  }
}
