// Font familie
$ff-primary: "Roboto Condensed", "Arial", sans-serif;
$ff-second: "Alumni Sans", "Arial", sans-serif;

// Width
$width-phone: 320px;
$width-tablet: 768px;
$width-desktop: 1366px;

// Padding
$padding-phone: 15px;
$padding-tablet: 45px;
$padding-desktop: 103px;

// Color
$base-black: #000000;
$alt-black: #030a1a;
$base-white: #ffffff;
$base-light: #f8f9fc;
$alt-light: #e8e8e8;
$base-gray: #787878;
$base-light-gray: #74819c;
$base-pearl: #102654;
$base-blue: #1c3374;
$alt-blue: #003eb7;
$base-light-blue: #103aae;
$base-bright-blue: #003d85;
$base-cobalt-blue: #0041ca;
$base-dark-blue: #000143;
$alt-dark-blue: #1c3374;
$base-violet: #2e35ac;
$base-pale-blue: #c8c9cc;
$alt-pale-blue: #b6bdcc;
$base-red: #d10a42;
$alt-red: #ed0233;
$base-bright-red: #b80027;
$alt-bright-red: #ff121f;
