.form {
  padding: 70px 0;
  color: var(--txt-base-light);
  background-color: var(--bg-base-dark);

  @include media-tablet {
    padding: 60px 0;
  }
}

.form__container {
  @include media-desktop {
    width: auto;
    padding: 0 $padding-desktop;
  }
}

.form__title {
  margin: 0 0 36px;
  font-family: var(--ff-second);
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;

  @include media-tablet {
    font-weight: 600;
    font-size: 54px;
    text-align: center;
  }

  @include media-desktop {
    text-align: start;
  }
}

.form__wrapper {
  display: grid;
  row-gap: 36px;
  margin: 0 auto;

  @include media-tablet {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    width: 440px;
  }

  @include media-desktop {
    width: 477px;
    margin: 0;
  }
}

.form__group {
  @include media-tablet {
    grid-row: 1 / span 1;
  }
}

.form__input {
  display: block;
  width: 100%;
  padding: 0 0 8px;
  border: none;
  border-bottom: 1px solid #74819c; // TODO opacity: 0.4;
  background-color: transparent;
  color: var(--txt-base-light);

  &:focus-visible {
    outline: 1px solid var(--txt-base-light);
    outline-offset: 6px;
  }

  &:hover {
    border-color: var(--txt-base-light);

    &::placeholder {
      opacity: 1;
    }
  }

  @include media-tablet {
    padding: 0 0 5px;
  }
}

.form__input::placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 157%;
  color: var(--txt-base-light);
  opacity: 0.5;
}

.form__submit {
  padding: 24px;

  @include media-tablet {
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
    padding: 27px;
  }
}


