.form {
  padding: 71px 0 70px;
  color: $base-white;
  background-color: $base-pearl;

  @include media-tablet {
    padding: 60px 0;
  }
}

.form__container {
  @include media-desktop {
    width: calc($width-desktop / 2) - calc($padding-desktop * 2);
    margin: 0 $padding-desktop 0 auto;
  }
}

.form__title {
  margin: 0 0 34px;
  font-family: $ff-second;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;

  @include media-tablet {
    margin: 0 0 31px;
    font-weight: 600;
    font-size: 54px;
    text-align: center;
  }

  @include media-desktop {
    text-align: start;
  }
}

.form__wrapper {
  display: grid;
  row-gap: 36px;
  margin: 0 auto;

  @include media-tablet {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 36px;
    width: 440px;
  }

  @include media-desktop {
    min-width: 477px;
    margin: 0;
  }
}

.form__group {
  position: relative;

  @include media-tablet {
    grid-row: 1 / span 1;
  }
}

.form__input {
  display: block;
  width: 100%;
  padding: 2px 0 6px;
  border: none;
  border-bottom: 1px solid $base-light-gray;
  background-color: transparent;
  color: $base-white;

  &:hover {
    border-color: $base-white;
  }

  &:focus-visible {
    border-color: transparent;
    outline: 1px solid $base-white;
    outline-offset: 2px;
  }

  &:disabled {
    outline: none;
    border-color: rgba($base-white, 0.3);
    color: rgba($base-white, 0.4);
  }

  &--error {
    border-color: $alt-bright-red;
  }

  @include media-tablet {
    padding: 5px 0;
  }
}

.form__input::placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 157%;
  color: rgba($base-white, 0.7);
}

.form__error {
  position: absolute;
  bottom: 2px;
  left: 0;
  transform: translateY(100%);
  display: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: $alt-bright-red;
}

.form__input--error + .form__error {
  display: block;
}

.form__submit {
  padding: 24px;

  @include media-tablet {
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
    padding: 28px 27px 26px;
  }
}
