.reviews-swiper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;

  @include media-tablet {
    justify-content: space-between;
    column-gap: 10px;
  }

  @include media-desktop {
    justify-content: center;
    column-gap: 20px;
  }
}

.reviews-swiper__container {
  grid-column: 2 / span 1;
  width: 240px;

  @include media-tablet {
    width: 500px;
  }

  @include media-desktop {
    width: 560px;
  }
}

.reviews-swiper__button {
  display: none;

  @include media-tablet {
    display: grid;
    place-content: center;
    width: 56px;
    height: 56px;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    &::after {
      display: block;
      width: 19px;
      height: 34px;
      mask-image: url('/__spritemap#sprite-arrow-view');
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
      background-color: var(--btn-dark);
      content: '';
    }

    &--prev {
      margin-left: -20px;
      order: -1;
      transform: rotate(180deg);
    }

    &--next {
      margin-right: -20px;
      order: 1;
    }

    &:hover {
      outline: 1px solid var(--btn-dark);
    }

    &:focus {
      background-color: var(--btn-shadow-bg);
      outline: 1px solid var(--btn-dark);
    }

    &:active {
      background-color: var(--btn-dark);
      outline: 1px solid var(--btn-dark);

      &::after {
        background-color: var(--btn-light);
      }
    }

    &:disabled {
      outline: none;
      background-color: transparent;
      cursor: default;

      &::after {
        background-color: var(--txt-transparent-dark-07);
      }
    }
  }

  @include media-desktop {
    &--prev {
      margin-left: 0;
    }

    &--next {
      margin-right: 0;
    }
  }
}
