.offers {
  padding: 40px 0;
  text-align: center;

  @include media-tablet {
    padding: 61px 0 60px;
    text-align: start;
  }

  @include media-desktop {
    padding: 100px 0;
  }
}

.offers__title {
  margin: 0 0 40px;
  text-align: center;

  @include media-tablet {
    margin-bottom: 34px;
  }

  @include media-desktop {
    margin-bottom: 70px;
  }
}

.offers__container {
  display: grid;
  row-gap: 41px;

  @include media-tablet {
    row-gap: 35px;
  }

  @include media-desktop {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: $width-desktop - ($padding-desktop * 2);
    margin: 0 auto;
  }
}

.offers__hero {
  @include media-tablet {
    width: $width-tablet - ($padding-tablet * 2);
    margin: 0 auto;
  }

  @include media-desktop {
    width: auto;
    margin: 0;
  }
}

.offers__list {
  @include reset-list;

  display: grid;
  row-gap: 30px;

  @include media-tablet {
    grid-template-columns: repeat(2, 1fr);
    width: $width-tablet - ($padding-tablet * 2);
    margin: 0 auto;
    column-gap: 30px;
  }

  @include media-desktop {
    grid-template-columns: 1fr;
    align-content: flex-end;
    width: auto;
    margin: 0;
  }
}

.offers__item {
  width: $width-phone - ($padding-phone * 2);
  margin: 0 auto;

  @include media-tablet {
    width: auto;
    margin: 0;
  }
}
