.offers-card {
  padding: 20px 20px 24px;
  border-image: linear-gradient(151deg, $alt-red 0%, $alt-blue 100%) 1;
  border-width: 7px;
  border-style: solid;

  @include media-tablet {
    display: grid;
    grid-template-rows: auto auto 1fr;
    height: 100%;
    min-height: 188px;
    padding: 21px 20px 19px;
  }

  @include media-desktop {
    min-height: 174px;
    padding: 20px;
  }
}

.offers-card h3 {
  margin: 0 0 20px;
  font-size: 22px;
  line-height: 100%;
  color: $base-blue;

  @include media-tablet {
    margin-bottom: 10px;
    font-size: 26px;
  }
}

.offers-card p {
  margin: 0 0 16px;
  font-size: 14px;
  line-height: 157%;

  @include media-tablet {
    margin: 0 0 17;
    font-size: 16px;
    line-height: 150%;
  }
}

.offers-card__link {
  margin: 0 auto;

  @include media-tablet {
    margin: auto auto -3px -10px;
  }

  @include media-desktop {
    margin: auto auto -3px -10px;
  }
}
