.about {
  padding: 40px 0;

  @include media-tablet {
    padding: 60px 0 35px;
    text-align: center;
  }

  @include media-desktop {
    padding: 120px 0 125px;
    text-align: start;
  }
}

.about__container {
  display: grid;
  row-gap: 35px;
  justify-items: center;

  @include media-tablet {
    row-gap: 36px;
  }

  @include media-desktop {
    grid-template-columns: auto 1fr;
    gap: 0 45px;
    width: $width-desktop - ($padding-desktop * 2);
    margin: 0 auto;
  }
}

.about__wrapper {
  @include media-tablet {
    width: 487px;
  }

  @include media-desktop {
    width: 355px;
    margin-left: auto;
  }
}

.about__title {
  margin: 0 0 12px;

  @include media-tablet {
    margin-bottom: 20px;
  }

  @include media-desktop {
    margin-bottom: 25px;
  }
}

.about__description {
  margin: 0 0 37px;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;

  @include media-tablet {
    margin: 0 0 36px;
    font-size: 20px;
    line-height: 100%;
  }

  @include media-desktop {
    margin-bottom: 95px;
    font-size: 22px;
  }
}

.about__text-wrapper p {
  margin: 0;
  font-size: 14px;
  line-height: 157%;

  @include media-tablet {
    font-size: 16px;
    line-height: 150%;
  }

  @include media-desktop {
    margin: 8px 0;
  }
}

.about__text-wrapper p:not(:first-child) {
  display: none;

  @include media-desktop {
    display: block;
  }
}

.about__media-wrapper {
  display: grid;
  justify-items: center;
  row-gap: 36px;

  @include media-tablet {
    row-gap: 0;
    padding-bottom: 85px;
  }

  @include media-desktop {
    justify-items: flex-start;
    padding: 0 0 115px 100px;
  }
}

.about__img {
  display: block;
  width: 100%;

  @include media-tablet {
    width: 678px;
  }

  @include media-desktop {
    width: 660px;
  }
}

.about__img-wrapper {
  @include media-tablet {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
}

.about__video {
  @include media-tablet {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    align-self: flex-end;
    transform: translateY(50%);
  }

  @include media-desktop {
    transform: translate(-100px, 50%);
  }
}
