.video {
  position: relative;
  width: 320px;
  height: 170px;

  @include media-tablet {
    width: 270px;
  }

  @include media-desktop {
    width: 360px;
    height: 230px;
  }
}

.video__media {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: $base-black;
}

.video__button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 52px;
  height: 52px;
  padding: 0;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 100%;
  background-image: linear-gradient(151deg, $alt-red 0%, $alt-blue 100%);
  outline: 2px solid rgba($alt-red, 0.2);
  outline-offset: 8px;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 50%;
    left: calc(50% + 3px);
    border: 5px solid transparent;
    border-left: 9px solid $base-white;
    transform: translate(-50%, -50%);
    content: "";
  }

  &:hover {
    background: $base-white;
    outline-color: rgba($base-pearl, 0.6);

    &::before {
      border-left-color: rgba($base-pearl, 0.6);
    }
  }

  &:focus {
    background: $base-pale-blue;
    outline-color: $base-pearl;

    &::before {
      border-left-color: $base-pearl;
    }
  }

  &:active {
    background: $base-white;
    outline-color: $base-pearl;

    &::before {
      border-left-color: $base-pearl;
    }
  }

  @include media-tablet {
    &::before {
      left: calc(50% + 4px);
    }
  }

  @include media-desktop {
    width: 72px;
    height: 72px;
    outline-offset: 12px;

    &::before {
      left: calc(50% + 6px);
      border-width: 8px;
      border-left-width: 12px;
    }
  }
}

.video--enabled {
  cursor: pointer;
}

.video--enabled .video__button {
  display: block;
}
