.products-list {
  @include reset-list;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 380px));
  justify-content: center;
  gap: 35px;

  @include media-tablet {
    gap: 40px;
  }

  @include media-desktop {
    grid-template-columns: repeat(auto-fill, minmax(290px, 360px));
  }
}

.products-list__item {
  position: relative;
  background-color: var(--bg-base-light);
  z-index: 1;
}
