.social {
  @include reset-list;

  display: flex;
  gap: 20px;

  @include media-tablet {
    gap: 15px;
  }

  @include media-desktop {
    gap: 10px;
  }
}

.social__link {
  display: grid;
  place-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $base-white;
  color: $alt-black;

  &:hover {
    color: $base-white;
    background-color: $base-light-gray;
  }

  &:focus {
    outline: none;
    color: $base-white;
    background-color: $base-light-blue;
  }

  &:active {
    background-color: $base-pearl;
  }

  &:disabled,
  &:not([href]) {
    color: $alt-black;
    background-color: rgba($base-white, 0.3);
  }
}
