.games {
  padding: 25px 0;
  color: $base-white;

  @include media-tablet {
    padding: 60px 0 30px;
  }

  @include media-desktop {
    padding: 100px 0;
  }
}

.games__container {
  @include media-tablet {
    display: flex;
  }
}

.games__wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  justify-content: space-between;
  gap: 16px;
  min-height: 320px;
  padding: 39px 41px 40px 40px;
  background-color: $alt-red;

  @include media-tablet {
    grid-template-columns: 1fr 1fr;
    gap: 8px 20px;
    padding: 40px;
  }

  @include media-desktop {
    grid-template-columns: 1fr 95px;
    align-items: flex-start;
    gap: 29px 70px;
    padding: 60px 80px 97px;
  }
}

.games__title {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  margin: 1px 0 0;
  align-self: center;

  @include media-tablet {
    margin: 0;
    align-self: flex-start;
  }
}

.games__datetime {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}

.games__text {
  margin: 0;
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
}

.games__link {
  @include reset-link;

  grid-row: 3 / span 1;
  grid-column: 1 / span 2;
  display: block;
  padding: 24px;

  @include media-tablet {
    padding: 27px 27px 26px;
  }

  @include media-desktop {
    padding: 28px 27px 26px;
  }
}

.games__img-wrapper {
  background-color: $base-dark-blue;
}

.games__img {
  display: block;
  object-fit: cover;

  @include media-tablet {
    min-width: 378px;
    height: 348px;
  }

  @include media-desktop {
    min-width: 660px;
    height: 500px;
  }
}
